<div class="columns-2" id="main-content" role="main">
	<div class="portlet-layout row-fluid">
		<div class="col-md-6 portlet-column portlet-column-first" id="column-1">
			${processor.processColumn("column-1", "portlet-column-content portlet-column-content-first")}
		</div>

		<div class="col-md-6 portlet-column portlet-column-last" id="column-2">
			${processor.processColumn("column-2", "portlet-column-content portlet-column-content-last")}
		</div>
	</div>
</div>