<div class="hcm-layout-video" id="main-content" role="main">
	<div class="portlet-layout row row-swt-responsive">
		<div class="portlet-column portlet-column-only col-md-12 col-swt col-lg-12  col-xs-12 col-sm-12" id="column-1">
			$processor.processColumn("column-1", "portlet-column-content portlet-column-content-only")
		</div>
	</div>
	
</div>
