.blue {
	.journal-content-article{
		text-align: justify;
		/*padding: 15px;*/
	}
	
	.journal-content-article slider_banner  {
		padding:0px;
	}
    #heading {
        background-color: #1b8f48;
        background-size: auto 100%;
        height: 100%;
        /*width: 1140px;*/
    }
    .site-title .col-lg-12 .img-header-menu {
         background-color: #1b8f48;
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 120px;
        width: 100%;
        float: left;
    }
    .nav-child-father li:hover {
        .nav-home-icon-all {
            background-image: url("../images/iconHomeR.png");
        }
        .nav-child-icon-all {
            background-image: url("../images/iconStarR.png");
        }
    }
    .nav-child-father .child-menu-child-page {
        /*background-image: none;
        background-color: #EEF3F7;
        border-bottom: 1px solid #B8D7EB;
        padding: 7px 7px 3px 15px;*/
    }
    .nav-child-father .child-menu-child-child-page {
        /*background-image: none;
        background-color: #EEF3F7;
        border-bottom: 1px solid #B8D7EB;
        padding: 7px 7px 3px 15px;*/
    }
    .nav-child-father .child-menu-child-page .child-menu-child-page-a {
        color: black;
    }
    .nav-child-father .child-menu-child-child-page a {
        color: black;
    }
    .nav-child-father .child-menu-child-child-page:hover {
        a {
            color: #0B4C8C;
        }
    }
    #khung-nhap-tim-kiem-id-toan-bo {
    	margin-left: auto;
	}
	#khung-nhap-tim-kiem-id-toan-bo > input{
    border: 3px solid #1558c0;
    height: 100%;
    color: #fff;
    padding: 0 15px;
    background: #06337a;
    background-image: url(../images/search.svg);
    background-position: 175px;
    background-size: 16px;
    background-repeat: no-repeat;
    outline: none;
	}
	
	
   
    #khung-nhap-tim-kiem-id-toan-bo::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #d9d9d9;
        opacity: 1;
        /* Firefox */
    }
    #khung-nhap-tim-kiem-id-toan-bo::-moz-placeholder {
        /* Firefox 19+ */
        color: #d9d9d9;
    }
    #khung-nhap-tim-kiem-id-toan-bo:-ms-input-placeholder {
        /* IE 10+ */
        color: #d9d9d9;
    }
    #khung-nhap-tim-kiem-id-toan-bo:-moz-placeholder {
        /* Firefox 18- */
        color: #d9d9d9;
    }
    .khung-tim-kiem-navigation {
        float: left;
        width: 100%;
        height: 34px;
        padding: 7px;
        border: 1px solid #296dad;
    }
    
    #portlet_com_liferay_portal_search_web_portlet_SearchPortlet .icon-angle-left {
      display: none;
	}
	
	#portlet_com_liferay_portal_search_web_portlet_SearchPortlet .form-control {
		    width: 100%;
	}
	    
    .button-search-swt {
        float: left;
        width: 20%;
        height: 20px;
        background-color: #c31d1d;
        color: #ffffff;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 11px;
        cursor: pointer;
    }
    .navigation-district1-title-big {
        float: left;
        width: 100%;
        height: 135px;
        background-image: url("../images/color_schemes/blue/banner_navigation.jpg");
        background-repeat: no-repeat;
        color: white;
        font-size: 50px;
        font-family: sans-serif;
        line-height: 130px;
        padding-left: 50px;
        font-weight: bold;
        background-size: cover;
    }
    .ban-do-image-information-category {
        float: left;
        width: 35%;
        height: 650px;
        background-color: #17224b;
        color: white;
        padding-left: 10px;
    }
    .footer-multy-website {
        background: -webkit-linear-gradient(#2369af, #001e2c);
        width: 100%;
        float: left;
        height: 200px;
        margin-bottom: 40px;
    }
    .d-none {
	    margin-left: auto;
	    background: #06337a;
	   	height: 30px;
	   	display:none;
	}
	/*.form-control {
	    width: 220px;
	    border: none;
	    border-radius: 0;
	    background: #06337a;
	}*/
	.icon-monospaced .lexicon-icon {
	    display: block;
	    height: 40px;
	    line-height: 32px;
	    width: 32px;
	    padding: 8px;
	    color: #fff;
	}
	.form-control::placeholder {
	    color: #fff;
	}
	.header-menu{
		width:100%;
	}
	.header-menu-col{
		display:flex;
		height: 40px;
	}
	@media only screen and (max-width: 767px){
		#heading {
	        background-color: #1b8f48;
	        background-size: auto 100%;
	        height: 100%;
	        width: 100% ;
	        margin: auto;
    	}
	}
	
}