<%--
/**
 * Copyright (c) 2000-present Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 */
--%>

<%@ page contentType="text/html; charset=UTF-8" %>

<style scoped>
.asset-print {
	background: url("<%=request.getContextPath()%>/icons/print.gif") no-repeat scroll left top transparent;
	color: #686868 !important;
	cursor: pointer;
	margin-left: 10px;
	padding: 1px 12px 4px 18px;
}
</style>

<%
PortletURL printAssetURL = renderResponse.createRenderURL();

printAssetURL.setParameter("mvcPath", "/view_content.jsp");
printAssetURL.setParameter("assetEntryId", String.valueOf(assetEntry.getEntryId()));
printAssetURL.setParameter("viewMode", Constants.PRINT);
printAssetURL.setParameter("type", assetRendererFactory.getType());
printAssetURL.setParameter("languageId", languageId);

if (Validator.isNotNull(assetRenderer.getUrlTitle())) {
	if (assetRenderer.getGroupId() != scopeGroupId) {
		printAssetURL.setParameter("groupId", String.valueOf(assetRenderer.getGroupId()));
	}

	printAssetURL.setParameter("urlTitle", assetRenderer.getUrlTitle());
}

printAssetURL.setWindowState(LiferayWindowState.POP_UP);
%>

<c:choose>
	<c:when test="<%= print %>">
		<aui:script>
			print();
		</aui:script>
	</c:when>
	<c:otherwise>
		<span class="asset-print" onclick="<%= "javascript:" + renderResponse.getNamespace() + "printPage_" + assetEntryIndex + "();" %>">
			<!-- <%= LanguageUtil.format(request, "print-x-x", new Object[] {"hide-accessible", HtmlUtil.escape(assetRenderer.getTitle(locale))}, false) %> -->
			<%= "Bản in" %>
		</span>

		<aui:script>
			function <portlet:namespace />printPage_<%= assetEntryIndex %>() {
				window.open('<%= printAssetURL %>', '', 'directories=0,height=480,left=80,location=1,menubar=1,resizable=1,scrollbars=yes,status=0,toolbar=0,top=180,width=640');
			}
		</aui:script>
	</c:otherwise>
</c:choose>