<aui:fieldset-group markupView="lexicon">
	<aui:fieldset collapsed="<%= false %>" collapsible="<%= true %>" label="swt-asset-publisher-enable-old-news">
		<aui:input name="preferences--enableOldNews--" type="toggle-switch" value="<%=isEnableOldNews%>" label="swt-asset-publisher-enable-news" />
		
		<aui:input label="swt-asset-publisher-number-of-news-to-display" name="preferences--numberOldNews--" type="text" value="<%=numberOldNews%>">
		 	<aui:validator name="digits" />
		</aui:input>
		
		<aui:select cssClass="asset-link-behavior" name="preferences--dateDisplayFormatOldNews--" label="swt-asset-publisher-date-display-format">
			<aui:option label="swt-asset-publisher-display-format-ddMMyyyy" selected="<%=dateDisplayFormatOldNews.equals("dd/MM/yyyy") %>" value="dd/MM/yyyy" />
			<aui:option label="swt-asset-publisher-display-format-ddMM" selected="<%=dateDisplayFormatOldNews.equals("dd/MM")%>" value="dd/MM" />
		</aui:select>
		
	</aui:fieldset>
	
	<aui:fieldset collapsed="<%= false %>" collapsible="<%= true %>" label="swt-asset-publisher-enable-newer-news">
		<aui:input name="preferences--enableNewerNews--" type="toggle-switch" value="<%=isEnableNewerNews%>" label="swt-asset-publisher-enable-news" />
		
		<aui:input label="swt-asset-publisher-number-of-news-to-display" name="preferences--numberNewerNews--" type="text" value="<%=numberNewerNews%>">
		 	<aui:validator name="digits" />
		</aui:input>
		
		<aui:select cssClass="asset-link-behavior" name="preferences--dateDisplayFormatNewerNews--" label="swt-asset-publisher-date-display-format">
			<aui:option label="swt-asset-publisher-display-format-ddMMyyyy" selected="<%=dateDisplayFormatNewerNews.equals("dd/MM/yyyy") %>" value="dd/MM/yyyy" />
			<aui:option label="swt-asset-publisher-display-format-ddMM" selected="<%=dateDisplayFormatNewerNews.equals("dd/MM")%>" value="dd/MM" />
		</aui:select>
		
	</aui:fieldset>
	
	<c:if test="<%=portletNameId.equals(AssetPublisherPortletKeys.MOST_VIEWED_ASSETS) %>">
		<aui:fieldset collapsed="<%= false %>" collapsible="<%= true %>" label="swt-asset-publisher-most-viewed">
			
			<aui:input label="swt-asset-publisher-number-limit-date" name="preferences--numberLimitDate--" type="text" value="<%=numberLimitDate%>">
			 	<aui:validator name="digits" />
			</aui:input>
			
		</aui:fieldset>
	</c:if>
</aui:fieldset-group>