@media only screen and (max-width: 969px){

    .min_wrap {
        width: 100% !important;;
    }
    .div-father{
        display: unset !important;;
    }
    .organization-elenment-father-of-father-id-swt{
        margin: 20px auto 25px auto !important;
    }
    #organization-first-father-of-father-id-swt ul li ul {
        width: 50% !important;;
        height: 0 !important;;
    }
    
    .div-father ul, .div-father ul:nth-child(2n){
        border: 0 !important;
        display: table !important;;
    }
    .organization-elenment-father-of-father-id-swt:first-child::after {
        left: 0 !important;;
    }
    .organization-elenment-father-of-father-id-swt li::after, .organization-elenment-father-of-father-id-swt:nth-child(2n) li::after, .organization-father:after{

		background: unset !important;
	    background-color: unset !important;
		width: 0 !important;
	}

	.organization-elenment-father-of-father-id-swt::after{
		height: 0 !important;
	}

}

.tree{
    float: left;
    width: 100%;
}
.tree ul {
    position: relative;
    padding: 0;
    margin: 0;
}
.tree li {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 45px auto -34px auto;
    width: 100%;
}
.tree li a{
	position: relative;
    height: 60px;
    width: 149px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(#00467e, #1682c0);
    margin: 0 3px;
    outline: 2px solid #1670a5;
    border: 1px solid #308fc7;

}

.organization-title-box-all-content {
    font-size: 14px;
    position: absolute;
    display: table;
    left: 7px;
    top: 0px;
    width: 91%;
    height: 62px;
}
.organization-title-box-all-content p {
    margin-top: 10.3%;
    margin-bottom: 0px;
    color: #fffbfb;
    vertical-align: middle;
    text-align: center;
}
.organization-father .organization-box-child {
    display: none;
}
#organization-first-father-of-father-id-swt ul li ul {
    width: 40%;
}

.div-father {
    display: flex;
    height: max-content;
    margin: -5px auto;
}


.organization-father:after {
   content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #0774A9 !important;
    width: 2px;
    height: 22px;

}
.div-father ul li a:after {
    display: none;
}
.div-father ul {
    border-right: 2px solid #0774A9;
    height: 100%;
    margin: 20px auto 10% -2px;

}
.div-father ul:nth-child(2n) {
    border-left: 2px solid #0774A9; 
    border-right: 0;
    height: 100%;
    margin: 20px 0 20px -2px;
    
}
.organization-elenment-father-of-father-id-swt{
    
}

.organization-elenment-father-of-father-id-swt::after{
    content: " ";
    background: url(<%=themeDisplay.getPathThemeImages()%>/orgchart/bar.png);
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
}

.organization-elenment-father-of-father-id-swt:first-child::after{
    content: " ";
    background: url(<%=themeDisplay.getPathThemeImages()%>/orgchart/bar.png);
  	width: 52%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 100%;

}


.organization-elenment-father-of-father-id-swt:nth-child(3)::after, .organization-elenment-father-of-father-id-swt:nth-child(5)::after{
   background: url(<%=themeDisplay.getPathThemeImages()%>/orgchart/bar.png) !important;
}

.organization-elenment-father-of-father-id-swt:last-child::after {
    background: unset;
}
.organization-elenment-father-of-father-id-swt:only-child{
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100% !important;
}
.organization-elenment-father-of-father-id-swt li:only-child {
    grid-column: 1;
    grid-template-columns: repeat(2, 1fr);
    
}

.div-father ul:only-child{
	border-right: none;
}
.organization-elenment-father-of-father-id-swt:only-child {
	 border-left: 2px solid #0774A9;
    margin-left: 50%;
    margin-bottom: 10%;
	
}
.div-father ul:only-child {
    border-right: none;
}
.organization-elenment-father-of-father-id-swt:only-child>li::after {
    background: unset;
    
}

.organization-elenment-father-of-father-id-swt li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.arrow_organization {
    width: 100%;
    height: 60px;
	position: relative;
}

.div-father ul:nth-child(2n) .organization-father {
    grid-column: 2;
    margin-left: auto;

}

.div-father ul:nth-child(2n) .arrow_organization {
    grid-column: 1;
	margin: -60px 0 0 0;
}

.div-father ul:nth-child(2n) .arrow_organization::after {
    content: '';
    display: block;
    margin: 0px 0px 0 -8px;
    padding: 0;
    width: 8px;
    height: 8px;
    transform: rotate(90deg);
    position: absolute;
    top: 14px;
    left: 100%;
    border-top: 12px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0774a9;
    border-left: 10px solid transparent;
}

.div-father ul:nth-child(2n) .arrow_organization::before{
    position: absolute;
    top: 40%;
    left: 0;
    margin-left: -1px;
    width: 100%;
    height: 2px;
    background: #0774a9;
    content: ' ';
}

.arrow_organization::before{
    position: absolute;
    top: 40%;
    right: 0;
    margin-left: -1px;
    width: 100%;
    height: 2px;
    background: #0774a9;
    content: ' ';
}

.arrow_organization::after {
    content: '';
    display: block;
    margin: 0px -8px 0 0;
    padding: 0;
    width: 0;
    height: 0;
    transform: rotate(270deg);
    position: absolute;
    top: 14px;
    right: 100%;
    border-top: 12px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0774a9;
    border-left: 10px solid transparent;
}

.organization-describle-one {
    position: absolute;
    z-index: 2;
    display: none;
    color: #000;
    border: 2px solid #3ca1ff;
    background-color: #ffffff;
    width: 300px;
    margin: -240px 0px 0px -150px;
    left: 150px !important;
}


.organization-describle-one-line {
    display: list-item;
    text-align: left;
}
.organization-describle-one-three {
     font-weight: bold;
    color: #000000;

}
.organization-describle-one-seven {
    font-weight: normal;
}
.organization-describle-title {
    text-align: center;
    font-size: 13px;
    background-color: #deefff;
    padding: 8px;
    border-bottom: 1px solid #3ca1ff;
    color: #074489;
    height: 32px;

}

.organization-elenment-father-of-father-id-swt:only-child .arrow_organization {
    grid-column: 1;
	grid-row: 1;
}
.organization-elenment-father-of-father-id-swt:only-child .arrow_organization::after {
    content: '';
    display: block;
    margin: 0px 0px 0 -8px;
    padding: 0;
    width: 8px;
    height: 8px;
    transform: rotate(90deg);
    position: absolute;
    top: 14px;
    left: 100%;
    border-top: 12px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0774a9;
    border-left: 10px solid transparent;
}

.organization-elenment-father-of-father-id-swt:last-child > li > a > .print-father > .organization-describle-one{
	left: 0 !important;
}
