#content {
	background-color: white;
	font-size: 13px;
	min-height: 770px;
}

#wrapper {
	padding-top: 0 !important;
}

#content-commond-navigation-menu-all-id {
	position: relative;
}

a {
	text-decoration: none !important;
}

a:focus {
	outline: none !important;
}

body {
	font-size: 12px;
}

#content-commond-navigation-menu-all-id {
	position: relative;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.containerdiv {
    width: 100%;
    background: linear-gradient(#2086c5, #085791);
}
.containerdiv nav > ul{
    display: flex;
    padding: 0px;
    margin: 0;
    list-style-type: none;
}
.containerdiv  nav > ul > li{
    float: left;
    height: 100%;
    padding: 40px 15px;
    cursor: pointer;
}
.containerdiv nav > ul > li:hover {
    background: #085791;
    transition: 0.4s;
    cursor: pointer;
}

.admin-hcm-nav {
	position: absolute;
	left: -300px;
	background-color: rgb(105, 113, 125);
	width: 300px;
	z-index: 10;
	min-height: 900px;
}

.admin-hcm-nav ul {
	list-style: none;
	margin: 0px;
	float: left;
}

.big-nav-li a {
	padding: 1px 5px 2px 15px;
}

.small-nav-li a {
	padding: 1px 5px 2px 35px;
}

.admin-hcm-nav a:hover {
	background-color: rgb(57, 181, 229);
}

.block-nav-display-all-swt {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.55);
	display: none;
}

.admin-hcm-nav a {
	color: white !important;
	width: 100%;
	display: inline-block;
	text-decoration: none !important;
}

.modify-pages li {
	float: left;
}

.site-title {
	width: 980px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	height: 100%;
}

.theme-admin-notify {
	width: 100%;
	position: relative;
	float: left;
	z-index: 999;
	margin-top: -123px;
}

.theme-admin-notify-right-align {
    float: right;
    margin: 0 4px 0 0;
}

.name-user-login {
	color: #ffffff!important;
	font-weight: bold;
	font-size: 11px;
}
.name-user-login img{
	width: 24px;
}

#close-button-nav-menu-id {
	float: right;
	color: white;
	cursor: pointer;
	padding: 5px 10px 0px 0px;
	font-weight: bold;
	font-size: 16px;
}

.ui-widget-content {
	font-size: 12px !important;
}
/*
.nav-child-father {
    margin: -2px 0 0 0 !important;
    list-style: none;
    padding-left: 43px !important;
}*/

.nav-child-father li {
   /* position: relative;
    float: left;
    padding: 0 6px 0 6px;
    background-image: url(../images/menuVer.png);
    background-repeat: no-repeat;
    background-position: 1px 100%;
    height: 31px;
    */
}


.nav-child-father {
	margin: 0px;
	list-style: none; 
	
	.nav-child-father-a {
		color : white;
		font-weight: bold;
	}

	.nav-child-father-a span {
		text-transform: uppercase;
		padding: 7px 2px 0px 4px;
		float: left;
	}

	.nav-child-icon-all {
		background-image: url("../images/iconStar.png");
		background-repeat: no-repeat;
		background-position: 0px 11px;
		width: 9px;;
		height: 30px;
		margin-left: 1px;
	}

	.nav-home-icon-all {
		background-image: url("../images/iconHome.png");
		background-repeat: no-repeat;
		background-position: -1px 5px;
		width: 19px;
		height: 30px;
	}
}
.active-menu{
	    background: #085791;
}


.child-child-menu {
	display: none;
	position: absolute;
	left: 100%;
	top: -2px;
	margin: 0px;
	list-style: none;
}

.nav-child-menu {
	position: absolute;
	display: none;
	left: 0px;
	top: 100%;
	z-index: 10;
	list-style: none;
	margin: 0px;
	text-transform: none;
	
	li {
		float : left;
		width: 125%;
		background-size: 100% 100%;
		padding: 1px 13px 1px 12px;
		
		a {
			color : white;
			white-space: nowrap;
			font-size: 13px;
			font-weight: bold;
		}
	}
}

.row-swt-responsive {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#heading {
	background-image: url("../images/color_schemes/blue/menu-title-blue.jpg");
	background-size: auto 100%;
	height: 100%;
	float: left;
	width: 100%;
}

.col-swt-responsive {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.container-fluid-swt-responsive {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#menu {
	margin-top: -5px !important;
}

.results-row {
	&.selected td, &.selected.hover td {
		&a {
			color:#333;
		}
	}
}

html {
	overflow-y: unset;
}

html.aui-dialog-iframe-root-node {
	overflow: unset;
}

.dockbar {
	background-color: #D7F1FF;
}

.dockbar a.user-portrait {
	text-decoration: none;
}

.aui-form-trigger {
	background: #C4C4C4 url(../images/application/button_bg.png) repeat-x 0 0;
	
	&:hover, &:focus {
		background-image: url(../images/application/button_bg_over.png);
	}
}

.aui-trigger-selected {
	background-image: url(../images/application/button_bg_selected.png);
	&:hover, &:focus {
		background-image: url(../images/application/button_bg_selected_over.png);
	}
}

.aui-options-trigger img {
	background-image: url(../images/common/configuration.png);
}

.aui-save-trigger img {
	background-image: url(../images/dock/my_place_current.png);
}

/********** portlet.flt **********/

.portlet-topper {
    background: linear-gradient(#2086c5, #085791);
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 0;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: -1px 15px 0 15px;
    box-shadow: 0 -3px 2px 0px rgba(0, 0, 0, 0.25);
}

.portlet-topper-toolbar>a, .portlet-topper-toolbar>span>a, .portlet-topper-toolbar .lfr-icon-menu>a {
    color: #fff;
    padding: 2px;
}

.portlet-name-text {
    top: 7px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
}

.portlet-title-text {
    text-transform: uppercase;
}

.portlet-title-text > span {
	margin-left: 0.25em;
}

@media (min-width: 768px) {
	.portlet:hover>.portlet-content-editable, .portlet.focus>.portlet-content-editable {
	    border: 1px solid rgba(0,0,0,0.28);
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
	    width: 100%;
	}
}

.portlet-body {
	float: left;
	width: 100%;
}

/********** FOOTER **********/

#goTop {
    bottom: 100px;
    cursor: pointer;
    height: 35px;
    position: fixed;
    right: 5%;
    width: 55px;
    z-index: 1000;
    display: none;
}

#goTop img {
	width: 100%;
}

#footer {
	background: linear-gradient(#165a97,#10406e);
    text-align: center;
    padding: 30px;
    color: #fff;
    font-size: 14px;
}

.user-sign-in {
	margin-left: 10px;
	float: right;
}

.sign-in-notify {
	background: #2196f3;
	margin-left: 10px;
	border-radius: 4px;
	height: 20px;
	float: right;
}


.notify-user {
	color: white !important;
	font-weight: bold;
	font-size: 11px;
	padding: 4px;
	float: right;
}

.logo{
	 background: linear-gradient(#2086c5, #085791);
}

.header-menu-admin{
	 background: linear-gradient(#2086c5, #085791);
}

.modify-pages .delete-tab{
	display:none;
}
