@media only screen and (max-width: 992px) and (min-width: 1024px){
    /* HEADER */

    /* Menu */
    .main_menu > ul > li {
        padding: 10px 10px;
    }
    /* FOOTER */
    .view_portal {
        padding: 0 0 0 50px !important;
    }
    .footer_leg p {
        padding: 7px;
    }


}

/*@media only screen and (max-width: 1023px){
    .min_wrap{
        width: 98%;
    }
    !* HEAD *!
    .header{
        display: none;
    }
    .header_mobile{
        display: block !important;
        background: #ffffff;
        width: 100%;
        height: 100px;
        box-shadow: 0 6px 7px #8888;
    }
    .search_mobile {
        top: 35px;
        position: absolute;
        right: 30px;
    }
    .menu_mobile {
        top: 35px;
        position: absolute;
        cursor: pointer;
        left: 30px;
    }
    .logo_mobile img{
        width: 100%;
        height: 100%;
        padding: 8px;
    }
    .logo_menu_mobile{
        padding: 10px;
    }
    .logo_menu_mobile img{
        padding: 0px 20px;
        width: 100%;
    }
    .title_menu_mobile{
        background: #29a9fe;
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
    }
    .active, .drawermenu>ul>li>ul>li>a:active, .drawermenu>ul>li>ul>li>a:focus {
        background: #d8d8d8;
    }

    !* FOOTER *!
    .address_portal{
        padding: 30px 15px 0 15px !important;
    }
    .menu_main_footer{
        display: none;
    }
    .logo_menu{
        display: none;
    }
    .info_footer {
        display: unset;
    }
    .menu_small_footer {
        float: left;
    }
    .footer-soluottruycap {
        width: 100%;
        margin: 0 0 6px 0;
    }
    .view_portal{
        padding: 15px 15px 40px 15px !important;
    }
    .view-user-login {
        display: grid;
        margin: 10px 0 0 0;
    }
    .visitor-count, .live-user-count {
        float: unset;
    }
    .form_lien_ket_web > select {
        width: 100%;
    }
    .footer_leg p {
        font-size: 12px;
    }
    .journal-content-article{
    	padding: 15px;
    }
}*/

/*@media only screen and (max-width: 800px) {

}*/

/*@media only screen and (max-width: 780px) {

}*/
@media only screen and (min-width: 992px) and (max-width: 1110px){
    .main_menu nav>ul>li{
        padding: 10px 8px 0 8px;
    }

    .main_menu nav ul li a {
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px){

  /*  .hidden-md{
        display: none;
    } */

    .toolbar_head {
        margin-bottom: 75px;
    }

}

@media only screen and (max-width: 991px) {
    .hcm-layout-home-page-quan5{
        width: unset !important;
    }

    .sort-pages.modify-pages {
        background: inherit;
        width: 92%;
        position: absolute;
    }

    .portlet-layout {
        display: unset!important;
    }

    .mainbar_head {
        display: none;
    }

    .logo-mobile-hcm img {
        height: 100%;
        width: 100%;
        /*padding: 10px;*/
    }

    .drawermenu-logo img {
        height: 100%;
        width: 100%;
        /*padding: 10px;*/
    }

    /*responsive menu mobile*/
    .mobile-menu-container {
        height: 100px;
        display: block !important;
        width: 100%;
    }

    .background-logo-mobile {
        display: flex;
        width: 100%;
        margin: 0 auto 10px auto;
        left: 0;
        z-index: 2;
    }

    .hamburger {
        position: relative;
        left: 20px;
        top: 40px;
    }

    #image_search_navigation_mobile img {
        float: right;
        position: relative;
        top: 40px;
        right: 20px;
        width: 25px;
    }

    .navbar {
        height: 100%;
        margin: 0;
        left: 0;
        width: 100%;
    }

    .drawermenu-logo {
        background: #10406e;
        border-bottom: 2px solid #fff;
        height: 100px;
        /*padding: 8px 30px;*/
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}

/*@media only screen and (max-width: 720px) {

}*/

@media only screen and (min-width:360px) and (max-width: 767px) {

}

@media only screen and (max-width: 320px) {

}